*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

nav{
    background-color: #0F172A;;
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nama-apps{
    color:white;
    font-weight: 700;
    font-size: 1.1rem;
}

.nav-us a{
    color:white;
    text-decoration: none;
    font-weight: 600;
    margin-left: 1.5rem;
    font-size: 0.9rem;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
    text-align: center;
}

.divison {
    width: 100%;
    max-width: 500px;
}

.title{
    color: #0F172A;
    font-size: 40px;
    margin-bottom: 0.01rem;
}

.title2{
    color: rgb(107, 99, 99);
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(149, 141, 141);
}

.input-email{
    width: 100%;
    padding: 0.7rem 1rem;
    border: solid 1px #e0e0e0;
    border-radius: 15px;
    outline: 1px solid #7b7d82;
    margin-bottom: 0.8rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.button{
    margin: 0.6rem 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    transition: background 0.2s ease;
    width: 100%;
    padding: 1rem 0;
    font-size: 1rem;
}

.button-sign-up{
    background-color: black;
    color: white;
}

.button-sign-up:hover{
    background-color: #333;
}

.button img{
    width: 30px;
    height: auto;
}

.extra-note {
    font-size: 0.8rem;
    color: #777;
    margin-top: 1.5rem;
    line-height: 1.4;
}

.extra-note a{
    color: black;
    text-decoration: none;
}