PORT=3000
NODE_ENV=production
FRONTEND_URL=https://alibaba-hackathon-xi.vercel.app
JWT_SECRET= your_jwt_secret_here

# Alibaba Cloud Configuration
ALIBABA_API_KEY=sk-a46c2c41d31c4225ae45eac442bf4f71
ALIBABA_BASEURL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
ALIBABA_MODEL=qwen-plus