PORT=5000
NODE_ENV=development
API_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000
JWT_SECRET= your-secret-key

# Alibaba Cloud Configuration
ALIBABA_API_KEY= your-secret-api-key
ALIBABA_MODEL=qwen-plus //or whatever your qwen model is
ALIBABA_ENDPOINT=https://dashscope-intl.aliyuncs.com/compatible-mode/v1